<br>
<div class="box">
    <img width="200px" height="200px" class="text-center" src="assets/insta.jpg" alt="">

</div>
<div class="flex">

    <button (click)="openDialog()" class="createButton" mat-button color="primary">Create</button>
    or
    <button (click)="openDialog2()" mat-button>Already Have An Account</button>
</div>

<br><br><br><br><br>
<table class="secfooter">
    <tr>
        <td>About</td>
        <td>Help</td>
        <td>Terms</td>
        <td>Privacy</td>
        <td>TopAccounts</td>
        <td>Location</td>
        <td>Languuages</td>
        <td>HashTages</td>
        <td>API</td>
    </tr>
</table>
<br>
<p class="copyr" align="center">&copy; 2021 INSTAGRAM FROM GOKUL</p>
