mat-dialog-content{
    width: 800px;
}
.wrapper{
    width: 70%;
    height:500px;
    margin: auto;
 }
 img{
     border-radius: 350px;
     width: 100px;
     height: 100px;
 }
mat-grid-list{
     width: 100%; 
}
mat-card{
    height:800px;
}
button{
    background-color: rgb(35, 154, 223);
    width: 100%;
    color: white;
}